[submodule "dep/Enclosure"]
	path = dep/Enclosure
	url = git@github.com:Matthew-Papesh/Enclosure.git
[submodule "dep/StandardCAD"]
	path = dep/StandardCAD
	url = git@github.com:Matthew-Papesh/StandardCAD.git
[submodule "dep/GitCAD"]
	path = dep/GitCAD
	url = git@github.com:Desktop-CNC/GitCAD.git
